<!DOCTYPE html>
<html ng-app="eveApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Eve - You autism safegard</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/custom.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12" ng-controller="ChatController">
            <div class="chat_window">
                <div class="top_menu">
                    <div class="buttons">
                        <span class="label btn-lg label-primary">Speech</span>
                        <input data-size="mini" type="checkbox" id="check"
                               ng-model="speechOn">
                    </div>
                    <div class="title">Interactive console - Eve</div>
                </div>
                <ul id="messages" class="messages">
                    <li class="message appeared" ng-class="{'right': item.realUser, 'left': item.botUser}" ng-repeat="item in messages">
                        <div class="avatar">
                            <img ng-if="item.botUser" width="70" height="70" ng-src="{{ 'img/eve' + item.eve + '.jpg'}}"/>
                            <img ng-if="item.realUser" width="70" height="70" ng-src="{{ 'img/boy.png' }}"/>
                        </div>

                        <div class="text_wrapper">
                            <small>{{ item.timestamp | date:"'Today at' h:mma" }}</small>
                            <div ng-if="item.result.fulfillment.messages == undefined" class="text">
                                {{ item.result.fulfillment.speech }}
                            </div>
                            <div ng-repeat="m in item.result.fulfillment.messages">

                                <img ng-if="m.type == 3" ng-src="{{ m.imageUrl }}" class="local-image">

                                <button ng-if="m.type == 4" ng-click="send(answer)" ng-repeat="answer in m.payload.answers">
                                    {{ answer }}
                                </button>

                                <canvas ng-if="m.type == 4 && m.payload.drawAction" drawing style="background:#fff;"></canvas>

                                <div class="text" ng-if="m.type == 0">{{ m.speech }}</div>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="bottom_wrapper clearfix">
                    <div class="message_input_wrapper">
                        <input ng-model="input" class="message_input" placeholder="Type your message here..."
                               ng-enter="send(input)"
                        />
                    </div>
                    <div class="send_message"><div class="icon"></div><div class="text"

                                               ng-click="send(input)">Send</div></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="src/resampler.js"></script>
<script type="text/javascript" src="src/recorderWorker.js"></script>
<script type="text/javascript" src="src/recorder.js"></script>
<script type="text/javascript" src="src/processors.js"></script>
<script type="text/javascript" src="src/vad.js"></script>
<script type="text/javascript" src="src/api.ai.js"></script>
<script type="text/javascript" src="src/tts.js"></script>

<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="js/application.js"></script>
<script type="text/javascript" src="js/directives/directives.js"></script>
<script type="text/javascript" src="js/services/ApiAIService.js"></script>
<script type="text/javascript" src="js/services/RandomHelperService.js"></script>
</body>
</html>
