<!DOCTYPE html>
<html ng-app="eveApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Api.ai demo</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/custom.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12" ng-controller="ChatController">
            <div class="chat_window">
                <div class="top_menu">
                    <div class="buttons">
                        <div class="button close"></div>
                        <div class="button minimize"></div>
                        <div class="button maximize"></div>
                    </div>
                    <div class="title">Chat</div>
                </div>
                <ul class="messages">
                    <li class="message left appeared" ng-repeat="message in messages">
                        <div class="avatar"></div>
                        <div class="text_wrapper">
                            <small>{{ message.timestamp | date }}</small>
                            <div class="text">{{ message.data }}</div>
                        </div>
                    </li>
                </ul>
                <div class="bottom_wrapper clearfix">
                    <div class="message_input_wrapper">
                        <input ng-model="input" class="message_input" placeholder="Type your message here..." />
                    </div>
                    <button type="button" ng-click="send()" class="text">Send</button>
                </div>
            </div>
            <div class="message_template">
                <li class="message">
                    <div class="avatar"></div>
                    <div class="text_wrapper">
                        <div class="text"></div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="../src/resampler.js"></script>
<script type="text/javascript" src="../src/recorderWorker.js"></script>
<script type="text/javascript" src="../src/recorder.js"></script>
<script type="text/javascript" src="../src/processors.js"></script>
<script type="text/javascript" src="../src/vad.js"></script>
<script type="text/javascript" src="../src/api.ai.js"></script>

<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="/demo/js/application.js"></script>
<script type="text/javascript" src="/demo/js/services/ApiAIService.js"></script>
<script type="text/javascript" src="/demo/js/services/RandomHelperService.js"></script>
</body>
</html>
